@font-face {
    font-family: "Source Sans 3";
    src: url(fonts/SourceSans3-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --nero-clr: #191919;
    --jaguar-clr: #2a2a2e;
    --grenadier-clr: #bd402c;
    --cinnabar-clr: #db4b35;
    --grey-clr: #898585;
    --raisin-clr: #252528;
    --amber-clr: #ff9900;
    --malachite-clr: #00ff4c;
    --red-clr: #ff0000;

    --default-font: "Source Sans 3", Arial, Helvetica, sans-serif;
}

body {
    height: 100svh;
    background-color: var(--nero-clr);
    color: #fff;
    font-family: var(--default-font);
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 6fr;
}

ul {
    list-style: none;
}

button {
    font-family: var(--default-font);
    color: #fff;
    border: none;
}

button:hover {
    cursor: pointer;
}

aside,
main {
    padding: 1rem 0;
    overflow-y: auto;
}

/* Sidebar Styling */

aside {
    background-color: var(--nero-clr);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.sidebar-heading,
.project-list-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar-heading {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.sidebar-main ul {
    display: grid;
    gap: 0.1rem;
}

.sidebar-main li {
    display: flex;
}

.project-list-item {
    background-color: var(--nero-clr);
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.todo-count {
    color: var(--grey-clr);
}

.project-list-item.selected-project {
    background-color: var(--jaguar-clr);
    font-weight: bold;
}

.project-list-item:focus-visible {
    outline: 2px solid #fff;
}

.sidebar-heading,
.main-heading {
    padding-bottom: 1rem;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
}

.sidebar-footer button {
    font-size: 1rem;
    background-color: var(--grenadier-clr);
    padding: 0.5rem 1rem;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidebar-footer button:hover,
.todo-list-actions button:hover {
    background-color: var(--cinnabar-clr);
}

/* Main Section Styling*/

main {
    background-color: var(--jaguar-clr);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.main-heading {
    display: flex;
    gap: 1rem;
}

.main-content {
    display: grid;
    gap: 0.5rem;
}

.main-content.empty-projects-list,
.main-content.empty-todo-list {
    flex: 1;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.main-content.empty-projects-list img,
.main-content.empty-todo-list img {
    height: clamp(100px, 25vh, 250px);
    width: clamp(100px, 25vw, 250px);
}

.todo-list-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.5rem;
}

.project-actions,
.todo-actions {
    display: flex;
    gap: 0.5rem;
}

.project-actions button {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.add-todo {
    font-size: 1rem;
    height: min-content;
    padding: 0.5rem;
    background-color: var(--grenadier-clr);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.clear-checked {
    align-self: center;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--grenadier-clr);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todo-list-container {
    display: grid;
    gap: 1rem;
}

.todo-container {
    display: grid;
    background-color: transparent;
}

.todo-item {
    flex: 1 1 auto;
    cursor: pointer;
    padding: 1rem;
    height: 4.5rem;
    font-weight: bold;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: ease-in 500ms;
    -webkit-transition: ease-in 500ms;
    -moz-transition: ease-in 500ms;
    -ms-transition: ease-in 500ms;
    -o-transition: ease-in 500ms;
    background-color: var(--nero-clr);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todo-item .priority-circle {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.priority-circle.red {
    background-color: var(--red-clr);
}

.priority-circle.amber {
    background-color: var(--amber-clr);
}

.priority-circle.green {
    background-color: var(--malachite-clr);
}

.todo-item .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

.todo-item input[type="checkbox"] {
    accent-color: var(--cinnabar-clr);
    height: 18px;
    width: 18px;
}

.todo-simple-information {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.todo-title,
.todo-due-date {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    gap: 0.25rem;
    justify-items: start;
    align-items: center;
}

.todo-title {
    font-size: 1.25rem;
}

.todo-due-date {
    font-size: 1rem;
}

.priority-circle,
.todo-due-date img {
    justify-self: center;
}

.expand-arrow {
    cursor: pointer;
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
}

.todo-item[aria-expanded="true"] .expand-arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.todo-item[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.todo-hidden-container {
    padding: 0 3rem;
    background-color: var(--nero-clr);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: grid-template-rows 500ms;
    -webkit-transition: grid-template-rows 500ms;
    -moz-transition: grid-template-rows 500ms;
    -ms-transition: grid-template-rows 500ms;
    -o-transition: grid-template-rows 500ms;
    display: grid;
    grid-template-rows: 0fr;
}

.todo-hidden-container.show {
    grid-template-rows: 1fr;
    transition: ease-in 500ms;
    -webkit-transition: ease-in 500ms;
    -moz-transition: ease-in 500ms;
    -ms-transition: ease-in 500ms;
    -o-transition: ease-in 500ms;
}

.todo-expanded-information {
    overflow: hidden;
    display: grid;
    gap: 0.5rem;
}

.todo-expanded-information>div:first-child>h4:first-child {
    padding-top: 1rem;
}

.todo-expanded-information p {
    font-size: 1rem;
}

.priority-text::first-letter {
    text-transform: capitalize;
}

.priority-text.red {
    color: var(--red-clr)
}

.priority-text.amber {
    color: var(--amber-clr);
}

.priority-text.green {
    color: var(--malachite-clr);
}

textarea {
    width: 99%;
    min-height: 10rem;
    margin-left: 1px;
    margin-right: 1px;
    background-color: var(--jaguar-clr);
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    resize: none;
}

.todo-notes textarea:focus {
    outline: 1px solid #fff;
}

.todo-actions {
    margin-right: 2px;
    padding-bottom: 1rem;
    justify-self: end;
}

.project-actions button,
.todo-actions button {
    background-color: transparent;
    display: flex;
    align-items: center;
}

/* Dialog styling */

dialog {
    inset: 0;
    margin: auto;
    padding: 1.25rem;
    background-color: var(--nero-clr);
    border: none;
    color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

dialog::backdrop {
    background-color: #b4b4b44d;
    backdrop-filter: blur(5px);
}

.project-modal {
    width: 25rem;
}

dialog form {
    height: 100%;
    display: grid;
    gap: 1rem;
}

dialog input {
    background-color: var(--jaguar-clr);
    height: 2.5rem;
}

input {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #fff;
}

dialog input,
dialog textarea {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

input,
textarea {
    font-family: var(--default-font);
}

.project-modal *:focus-visible {
    outline: 2px solid #fff;
}

dialog .action-buttons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
}

.action-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.action-buttons button:nth-of-type(1) {
    background-color: var(--jaguar-clr);
}

.action-buttons button:nth-of-type(2) {
    background-color: var(--grenadier-clr);
}

.todo-modal {
    width: 50rem;
}

.todo-modal form {
    grid-template-columns: 1fr repeat(2, min-content);
    align-items: center;
}

.todo-modal h2 {
    grid-column: span 3;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.todo-modal .form-todo-description {
    grid-column: span 3;
}

.todo-modal .action-buttons {
    grid-column: span 3;
}

.todo-modal select {
    border: none;
    padding: 0.75rem;
    color: #fff;
    background-color: var(--raisin-clr);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

/* Calendar picker colour */
::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}